@model IEnumerable<ShoppingPal.Models.ShopItems>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            ImageLocation
        </th>
        <th>
            Price
        </th>
        <th>
            Credit
        </th>
        <th>
            IsCreditOnPercent
        </th>
        <th>
            Shop
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@item.ImageLocation
        </td>
        <td>
			@String.Format("{0:F}", item.Price)
        </td>
        <td>
			@String.Format("{0:F}", item.Credit)
        </td>
        <td>
			@item.IsCreditOnPercent
        </td>
        <td>
			@(item.Shop == null ? "None" : item.Shop.Name)
        </td>
    </tr>
}

</table>


